/* element */
body {
    background-color: black;
    padding: 0;
    margin: 0;
}

a:link {color:white;text-decoration:none;}		/* 未被访问的链接 */
a:visited {color:white;text-decoration:none;}	/* 已被访问的链接 */
a:hover {color:gray;text-decoration:none;}	/* 鼠标指针移动到链接上 */
a:active {color:gray;text-decoration:none;}	/* 正在被点击的链接 */

.Content a:link {color:black;text-decoration:none;}		/* 未被访问的链接 */
.Content a:visited {color:black;text-decoration:none;}	/* 已被访问的链接 */
.Content a:hover {color:red;text-decoration:none;}	/* 鼠标指针移动到链接上 */
.Content a:active {color:red;text-decoration:none;}	/* 正在被点击的链接 */

.twhi a:link {color:gray;text-decoration:none;}		/* 未被访问的链接 */
.twhi a:visited {color:gray;text-decoration:none;}	/* 已被访问的链接 */
.twhi a:hover {color:white;text-decoration:none;}	/* 鼠标指针移动到链接上 */
.twhi a:active {color:white;text-decoration:none;}	/* 正在被点击的链接 */
/* class:. */
.ico1 {
    margin: -10px 0 -70px 0;
}

.ico2 {
    margin: -50px 0 -53px 0;
}

.ico4 {
    margin: -68px 0 -30px 0;
}

.ico3 {
    margin: -65px 0 -10px 0;
}

.nav {
    overflow: hidden;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    height: 25px;
}

.nav a {
    margin-left: 20px;
    margin-right: 20px;
}

.login {
    float: right;
}
.login a,span{
    position: relative;
    top: -4px;
}



.headerBg {
    width: 100%;
}

.logo {
    position: absolute;
    left: 300px;
    top: 40px;
}
.Search{
    padding: 65px 0 65px 0;
    background: url(static/header_bg.jpg) 1920px 130px;
}
.Search form {
    float: right;
}
.Navi{
    height: 53px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.Navi ul{
    float: left;
    padding-inline-start: 0;
}
.Navi ol{
    float: right;
}
.Navi li{
    list-style-type: none;
    display: inline;
    padding: 5px 10px 5px 10px;
}
.center{
    margin-left:auto;
    margin-right:auto;
    width:1200px;
}
.GameLine{
    width: 1152px;
    font-size: 12px;
    margin: auto;
    height: 42px;
}
.GameLineHead{
    padding: 5px 12px 5px 12px;
    background-color: pink;
    float: left;
    margin-top: 8px;
    margin-bottom: 8px;
}
.GameLine ul{
    float: left;
}
.GameLine li{
    list-style-type: none;
    display: inline;
    padding: 5px 10px 5px 10px;
}
.FastLink{
    width: 1200px;
}
.Content{
    height: 5000px;
    background-image: url("static/defaultbg.jpg");
    padding: 10px 0 0 0;
}
.Main{
    background-color: white;
    height: 2000px;
}
.top{
    background: orange;
    padding: 5px 0 5px 0;
}
.top a{
    width: 120px;
    text-align: center;
    display: inline-block;
}
.InnerL{
    float: left;
    width: 412px;
    height: 1000px;
    background-color: aqua;
}
.InnerM{
    float: left;
    width: 388px;
    height: 1000px;
}
.InnerR{
    float: left;
    width: 400px;
    height: 1000px;
    background-color: mediumaquamarine;
}
.ban img{
    width: 77px;
    height: 54px;
    border: solid transparent 1px;
    margin: 0 1px 0 2px;
    position: relative;
    top: 80%;
}
.ban{
    width: 412px;
    height: 380px;
}
.transBack{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    width: 412px;
    height: 120px;
    top: 761px;
}
